h1 {
    text-align: center;
    color: #333;    
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}
#searchInput {
    width: 80%;
    padding: 10px;
    margin: 0 auto 20px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #4CAF50;    
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}